#home > .section1 > div:last-child > img
{
    border-radius: 10px;
}

#home > .section2
{
    height: 50vh;
    margin: auto;
    max-width: 1000px;
}

#home > .section2 > div
{
    margin-top: 80px;
}

#home > .section2 > div > div button
{
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 24px;
    border: none;
    color: white;
    border-radius: 10px;
    width: 215px;
}

#home > .section2 > div > div button:disabled
{
    background-color: gray!important;
    box-shadow: 0 0 5px 10px rgba(128, 128, 128, 0.56) !important
}

#home > .section2 > div > div button.cs1
{
    background-color: #1A5E8F;
    box-shadow: 0 0 5px 10px #1a5e8f5e;
}

#home > .section2 > div > div button.cs1:enabled:hover
{
    box-shadow: 0 0 5px 10px rgba(57, 139, 197, 0.56);
}

#home > .section2 > div > div button.cs2
{
    background-color: #590099;
    box-shadow: 0 0 5px 10px rgba(89, 0, 153, 0.37);
}

#home > .section2 > div > div button.cs2:enabled:hover
{
    box-shadow: 0 0 5px 10px rgba(123, 32, 189, 0.56);
}

@media screen and (max-width: 768px)
{
    #home > .section2 > div > div button.cs2
    {
        margin-top: 40px;
    }

    #home > .section2 > div
    {
        margin-top: 60px!important;
    }
}

@media screen and (max-width: 950px)
{
    #home > .section1 > div
    {
        padding: 20px!important;
    }

    #home > .section1 > div:first-child
    {
        align-items: center!important;
    }

    #home > .section1 > div:first-child > h3
    {
        text-align: center;
    }

    #home > .section1 > div:first-child
    {
        flex: 100% 0 0!important;
        order: 1!important;
    }

    #home > .section1 > div:last-child
    {
        flex: 100% 0 0!important;
        order: 0!important;
    }
}